page {
	font-size: 28rpx;
	line-height: 1.5;
	color: #2c3e50;
	background: #fff;
	font-family: 'PingFang-SC-Medium';
}

button {
	color: #333;
}
page,
view,
input,
text,
form,
navigator,
rich-text,
picker,
scroll-view,
cover-view,
open-data {
	box-sizing: border-box;
}
rich-text,
open-data,
form {
	display: block;
}
cover-view {
	line-height: 1.5;
	white-space: normal;
}

/* float */
.fl {
	float: left;
}
.fr {
	float: right;
}
.dpn {
	display: none;
}
.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.ab-center{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.cf6 {
	color: #c7a769;
}
.bgf {
	background: #fff;
}
.rel {
	position: relative;
}
.tac {
	text-align: center;
}
/* 隐藏滚动条 */
::-webkit-scrollbar {
	display: none;
}
button:after {
	border: 0;
}
.flex-box {
	display: flex;
}
.flex-box .flex-item{
	flex: 1;
}
.footer-box {
	height: 100rpx;
}
/* // 单双行换行 */
.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ellipsis2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
//  uni-page, uni-page-head,uni-tabbar{
//     filter: grayscale(100%);
//     -webkit-filter: grayscale(100%);
//     -moz-filter: grayscale(100%);
//     -ms-filter: grayscale(100%);
//     -o-filter: grayscale(100%);
//     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
//     filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
//     -webkit-filter: grayscale(1);
// }
//  page{
// 	filter: grayscale(100%);
// 	-webkit-filter: grayscale(100%);
// 	-moz-filter: grayscale(100%);
// 	-ms-filter: grayscale(100%);
// 	-o-filter: grayscale(100%);
// 	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
// 	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
// 	-webkit-filter: grayscale(1);
// }